/* MAIN CONTENT */
#sect-content {
  padding-top: 4rem;
}

.div-gallery-item-content {
  border: 1px solid #ccc;
  backdrop-filter: blur(4px);
}

.div-gallery-item-content:hover {
  border: 1px solid #777;
}

.div-gallery-item-content img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.div-gallery-item {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding: 1rem;
}

.div-date {
  font-size: 80%;
  padding-top: 1rem;
}

.div-date p {
  color: gray;
}

@media only screen and (max-width: 1300px) {
  .desc p {
    font-size: 65%;
  }
}

@media only screen and (max-width: 1225px) {
  .desc p {
    font-size: 75%;
  }
}

@media only screen and (max-width: 1100px) {
  .desc p {
    font-size: 65%;
  }
}

@media only screen and (max-width: 1050px) {
  .desc p {
    font-size: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .div-gallery-item {
    /* width: 50%; */
    padding: .5rem;

  }

  .desc p {
    font-size: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .div-gallery-item {
    width: 100%;
  }

  .desc p {
    font-size: 80%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 780px) {
    
}

@media screen and (max-width: 680px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 460px) {
    
}